# Logs
*.log

# Xcode
build/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcuserstate

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Build
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
*.xcworkspace
!default.xcworkspace

# Misc
*.moved-aside
*.swp
*~.nib